.nav-link{
    font-size: large;
    color: black;
}

.active-link-class{
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 15px;
}

.navbar{
    padding: 2%;
}


#bustable{
    text-align: center;
    justify-content: center;
    background-color: white;
    margin-top: 4%;
    overflow: scroll;
}

#redclass{
    color: red;
}

.bi{
    cursor: pointer;
}