<div class="d-flex justify-content-end mt-2 me-4">
    <nav class="navbar">
        <div class="container-fluid">
          <!-- Links -->
          <ul class="navbar-nav flex-row">
            <li class="nav-item">
              <a class="nav-link p-2" routerLink="/search" routerLinkActive="active-link-class">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link p-2" routerLink="/bookings" routerLinkActive="active-link-class">My Bookings</a>
            </li>
          </ul>
        </div>
      </nav>
      </div>

          
          <div class="noresults row text-center" *ngIf="reservationlist.length==0 || reservationlist ==null; else reservationtable">
              <h2 id="redclass">No reservations to show</h2>
          </div>
          <div class="row">
          <ng-template #reservationtable>
            <div class="row text-center mt-2">
              <h2>List of your reservations</h2>
              </div>
          <div class="d-flex container col-md-8">
          <table class="table table-hover" id="bustable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Business Dame</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
              </tr>
            </thead>
              <tbody>
              <tr *ngFor="let reservation of reservationlist; index as i" id="{{reservation.name}}">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{reservation.name}}</td>
                <td>{{ reservation.date }}</td>
                <td>{{ reservation.time}}</td>
                <td>{{ reservation.email}}</td>
                <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" (click)="deletereservation(reservation.name)">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg></td>
              </tr>
            </tbody>
          </table>
          </div>
        </ng-template>
      </div>
      
